# Patch/diff artifacts.
*.patch
*.diff
*.orig
*.rej
interdiff*.txt

# emacs artifacts.
*~
\#*\#

# VI swap file.
*.swp

# Hidden files.
.DS*
.project

# Windows links.
*.lnk

# Temporary files.
tmp*

# Exclude IDE's project directory.
nbproject
.idea

/vendor
vendor/

# Ignore sensitive information
web/sites/*/settings.local.php
web/sites/*/services*.yml

# Ignore Drupal's file directory
web/sites/*/files/
web/sites/*/private/

# Ignore SimpleTest multi-site environment
web/sites/simpletest

# But keep config sync and settings.php
!web/sites/default/
!web/sites/default/config/
!web/sites/default/config/sync/
!web/sites/default/settings.php

core/node_modules
themes/react_example_theme/js/dist_dev
