{#
/**
 * @file
 * Theme implementation for a simple text field with styling.
 *
 * Available variables:
 * - value: The field value.
 */
#}
<div class="simple-text-field">
  <span class="simple-text-field__label">Texte simple</span>
  <span class="simple-text-field__value">{{ value }}</span>
</div>
